._3Sb2o_mQ30IDRh0C72QUUu,
._17uEBe5Ri8TMsnfELvs8-N,
._3x1HklzyDs4TEjACrRO2tB,
._2Dd4T78PcCTUVgOtDGFY5j {
  background: #2d333c;
}
/* Games Page */
._17uEBe5Ri8TMsnfELvs8-N {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #ffffff00, #ffffff50, #ffffff00) 47%
    0%;
}
._2gSXCB6PbOlMxslr8hm6dm {
  background: transparent;
}
._23SnllqT_AqZ1C_QHcNQ4Z ._1PhK8scyztOxjJwWUpkiLJ {
  height: 0;
}
