/* Titlebar Left Side */
._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
  margin: unset;
  height: 32px;
  display: flex;
  align-items: center;
}

._1Ky59qmywxOUtNcI1cgmkX {
  gap: 16px;
}

/* Logo Steam */
.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
  width: 22px;
  height: 22px;
  margin-left: 2px;
}

/* Hide Logo Text */
.bSKGlAJG2UVWTsntEJY2v {
  font-size: 0;
  gap: unset;
}

._2UyOBeiSdBayaFdRa39N2O {
  padding: 3px;
}

/* Левое меню */
._3Z3ohQ8-1NKnCZkbS6fvy {
  position: fixed;
  left: 0;
  top: -26px;
  bottom: 0;
  width: 46px !important;
  padding-top: 4px;
}

/* Кнопка Назад */
._3Z3ohQ8-1NKnCZkbS6fvy > div > svg._25lBLzuVeYAUG279up4xP8 {
  margin-left: 10px;
}