/* Titlebar Right Side */
._2Szzh5sKyGgnLUR870zbDE,
._3yD46y5pd3zOGR7CzKs0mC {
  height: 28px !important;
  width: 28px !important;
  padding: 0;
  max-height: none;
}
._3cykd-VfN_xBxf3Qxriccm {
  margin: auto 0;
  margin-right: 20px;
  height: 41px;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp,
.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt,
._5wILZhsLODVwGfcJ0hKmJ,
._5wILZhsLODVwGfcJ0hKmJ:hover,
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(
    ._1QQWjaXmb1eTHZpeIhQA_5
  ):hover,
.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:not(
    ._1QQWjaXmb1eTHZpeIhQA_5
  ):hover,
._3LKQ3S_yqrebeNLF6aeiog:hover {
  background-color: unset;
}
/* tiny profile button */
._3yD46y5pd3zOGR7CzKs0mC {
  background: unset;
  padding: unset;
  font-size: 0 !important;
}
._3yD46y5pd3zOGR7CzKs0mC:hover {
  background: unset;
}
/* tiny profile button: Avatar */
._3h-QRJGxnVOIExtHD1R0f2 {
  border: unset;
}
._3h-QRJGxnVOIExtHD1R0f2.avatar {
  border-radius: 50px;
  box-shadow: none;
}
._3yD46y5pd3zOGR7CzKs0mC ._3x51wbt5DYyWC8JKwQ51ir {
  display: none;
}
._3yD46y5pd3zOGR7CzKs0mC.online {
  padding: 0;
  gap: 0;
}
/* tiny profile button: Status */
._3xUpb5DWXPFNcHHIcv-9pe.avatarStatus.right {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  border: 2px solid #171d25;
  border-radius: 100%;
}
._3yD46y5pd3zOGR7CzKs0mC.ingame {
  background: unset;
  padding: 0;
}
/* Big Picture Button */
._3LKQ3S_yqrebeNLF6aeiog ._34bQcTHo5QKzuujoEyU1tm {
  top: auto;
  right: auto;
}
