/* Titlebar Right Side */
._2Szzh5sKyGgnLUR870zbDE,
._3yD46y5pd3zOGR7CzKs0mC {
  height: 28px !important;
  width: 28px !important;
  padding: 0;
  max-height: none;
}
._3cykd-VfN_xBxf3Qxriccm {
  margin: auto 0;
  margin-right: 38px;
  height: 32px;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp,
.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt,
._5wILZhsLODVwGfcJ0hKmJ,
._5wILZhsLODVwGfcJ0hKmJ:hover,
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(
    ._1QQWjaXmb1eTHZpeIhQA_5
  ):hover,
.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:not(
    ._1QQWjaXmb1eTHZpeIhQA_5
  ):hover,
._3LKQ3S_yqrebeNLF6aeiog:hover {
  background-color: unset;
}
/* News Notification Icon */
._2Szzh5sKyGgnLUR870zbDE._5wILZhsLODVwGfcJ0hKmJ svg {
  color: #fff5;
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR svg {
  background-color: unset;
  color: #1999ff !important;
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR {
  background-color: unset;
  color: unset;
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR:hover {
  background-color: unset;
  color: #1999ff;
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR svg:nth-child(1) {
  animation: heartbeat 1.3s infinite;
  transform-origin: center;
}
@keyframes heartbeat {
  0% {
    transform: scale(1); /* Исходный размер */
  }
  14% {
    transform: scale(1.2); /* Увеличение (удар сердца) */
  }
  28% {
    transform: scale(1); /* Возврат к исходному размеру */
  }
  42% {
    transform: scale(1.2); /* Второй удар */
  }
  70% {
    transform: scale(1); /* Плавное завершение */
  }
}
/* Notifications Icon */
._2Szzh5sKyGgnLUR870zbDE.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt svg {
  color: #fff5;
}
._2Szzh5sKyGgnLUR870zbDE.RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:hover svg {
  color: #fff;
}

.RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd {
  background-color: unset /* #5c7e10 */;
  color: #31b85e;
}
.RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd:not(._1QQWjaXmb1eTHZpeIhQA_5):hover {
  background-color: unset
}
.RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd ._34bQcTHo5QKzuujoEyU1tm g, .RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd._3HTKO4DG_GebIesiMSlG9a ._34bQcTHo5QKzuujoEyU1tm g {
  animation: _1laPjpHIsrHsEg2pP6rBc8 5s ease-in;
  animation-iteration-count: 12;
  transform-origin: 50% 0%;
}
/* tiny profile button */
._3yD46y5pd3zOGR7CzKs0mC {
  background: unset;
  padding: unset;
  font-size: 0 !important;
  margin: 2px 0 0 0;
}
._3yD46y5pd3zOGR7CzKs0mC:hover {
  background: unset;
}
/* tiny profile button: Avatar */
._3h-QRJGxnVOIExtHD1R0f2 {
  border: unset;
}
._3h-QRJGxnVOIExtHD1R0f2.avatar {
  border-radius: 50px;
  box-shadow: none;
}
._3yD46y5pd3zOGR7CzKs0mC ._3x51wbt5DYyWC8JKwQ51ir {
  display: none;
}
._3yD46y5pd3zOGR7CzKs0mC.online {
  padding: 0;
  gap: 0;
}
/* tiny profile button: Status */
._3xUpb5DWXPFNcHHIcv-9pe.avatarStatus.right {
  top: 16px;
  left: 16px;
  width: 8px;
  height: 8px;
  border: 2px solid #171d25;
  border-radius: 100%;
}
._3yD46y5pd3zOGR7CzKs0mC.ingame {
  background: unset;
  padding: 0;
}
/* Big Picture Button */
._3LKQ3S_yqrebeNLF6aeiog ._34bQcTHo5QKzuujoEyU1tm {
  top: auto;
  right: auto;
}
