.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2 {
  display: none !important;
}

/* Top Header */
._3Z7VQ1IMk4E3HsHvrkLNgo,
._39oUCO1OuizVPwcnnv88no {
  box-shadow: none;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Контейнер меню */
._1Ky59qmywxOUtNcI1cgmkX {
  padding-left: 6px;
  display: flex;
  align-items: center;
  transition: margin-left 0.3s ease;
}

/* Кнопка назад */
._25lBLzuVeYAUG279up4xP8 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

._25lBLzuVeYAUG279up4xP8._1LYTHQzcI1u6tcxbbcc5V3 {
  opacity: 1 !important;
}