.RGNMWtyj73_-WdhflrmuY {
  &._3WJCt_OkjPA6npxOtguSt5 {
    ._2CmrnGY-Amtd83ScJkFvx2 {
      display: none !important;
    }
  }
}

._1Ky59qmywxOUtNcI1cgmkX {
  display: flex;
  align-items: center;
  transition: margin-left 0.3s ease;
}

._25lBLzuVeYAUG279up4xP8 {
  opacity: 0;
  transition: opacity 0.3s ease;
  &._1LYTHQzcI1u6tcxbbcc5V3 {
    opacity: 1 !important;
  }
}

._39oUCO1OuizVPwcnnv88no {
  ._3s0lkohH8wU2do0K1il28Y {
    margin: unset;
    margin-left: 40px;
    height: 32px;
  }
}

._1Ky59qmywxOUtNcI1cgmkX {
  gap: 16px;
}

.bSKGlAJG2UVWTsntEJY2v {
  gap: unset;
  .GG9wVQz6PLlhGHlJyZh4E {
    display: none;
    /* width: 22px;
    height: 22px;
    margin-left: 2px; */
  }
}

._2UyOBeiSdBayaFdRa39N2O {
  padding: 3px;
}

._3Z3ohQ8-1NKnCZkbS6fvy {
  position: fixed;
  left: 0;
  top: -26px;
  bottom: 0;
  width: 46px !important;
  padding-top: 4px;
  & > div {
    & > svg {
      &._25lBLzuVeYAUG279up4xP8 {
        margin-left: 10px;
      }
    }
  }
}