/* Titlebar Left Side */
._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
    margin: unset;
    height: 40px;
}

._1Ky59qmywxOUtNcI1cgmkX {
  gap: 16px;
}

/* Logo Steam */
.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
  width: 28px;
  height: 28px;
}
/* Hide Logo Text */
.bSKGlAJG2UVWTsntEJY2v {
  font-size: 0;
  gap: unset;
}

._2UyOBeiSdBayaFdRa39N2O {
    padding: 3px;
}
