._25lBLzuVeYAUG279up4xP8._1LYTHQzcI1u6tcxbbcc5V3,
._25lBLzuVeYAUG279up4xP8._2cO0HdvLEGAdhosLekWsmo,
.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2 {
  display: none !important;
}

/* Top Header */
._3Z7VQ1IMk4E3HsHvrkLNgo,
._39oUCO1OuizVPwcnnv88no {
  box-shadow: none;
  height: 40px;
}
._1Ky59qmywxOUtNcI1cgmkX {
  padding-left: 6px;
}

