@use '../0-Base/colors' as *;

/* BODY */
body {
  background-color: $bg-body;
}

._3Z7VQ1IMk4E3HsHvrkLNgo,
._2gSXCB6PbOlMxslr8hm6dm,
.u1xD3KJEgksF_J_5TLZzO,
._2sNr7PFYcJZWNkEMCDVVPR {
  background: unset;
}

._1ENHEsrSLcTRtPQFl1F-wL {
  border: unset;

  &._1DvwQt0JN-Ogp_4tVZdkzX {
    background-color: unset;
  }
}

._3mz8wQ6Q44B8P7pzPP4Iyw {
    background: unset /* default #171d25 */;
}

._3Sb2o_mQ30IDRh0C72QUUu,
._17uEBe5Ri8TMsnfELvs8-N,
._3x1HklzyDs4TEjACrRO2tB,
._2Dd4T78PcCTUVgOtDGFY5j {
  background: $bg-0;
}

._17uEBe5Ri8TMsnfELvs8-N {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #ffffff00, #ffffff50, #ffffff00) 47%
    0%;
}

._23SnllqT_AqZ1C_QHcNQ4Z {
  ._1PhK8scyztOxjJwWUpkiLJ {
    height: 0;
  }
}