._2Nq6ov7A1hGcHXVOXNt_OE {
  border: unset;
}

div {
  &._1_yS5UP7el0aN4vntx3dx {
    & > div {
      &:nth-child(1) {
        position: absolute;
        left: 60px;
        bottom: 10px;
        min-width: 100%;
      }
    }
  }
}

._2iJsgdTIX9Tj23rWnB7Q-c {
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* URLBAR */
._1bGewp3tfzqAF6fVTFFUOz {
  .UkR3sY319PuaUNuUWks2K {
    background: #1B2838;
    box-shadow: unset;
    padding: 6px;
  }
}