$bg-body: oklch(23% 0.01793 255);
$bg-0: oklch(32% 0.0181 258);
$bg-1: oklch(25% 0.00562 285 / 0.6);
$bg-bh: oklch(37% 0.01228 273);
$text-1: oklch(72% 0.01536 254);

$accent-0: oklch(64% 0.13651 258);